
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: proxima;
  src: url("/fonts/ProximaNova-Regular.ttf");
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  height: 100vh;
}


.hero {
  font-size: 200px;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 40px;
  align-items: baseline;
}

.cover {
  box-shadow: rgba(85, 85, 85, 0.15) 20px 5px;

  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  background-color: white;
  display: none;
  z-index: -1;
}

.nav-menu {

}

.nav-menu ul {
  padding: 30px;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.nav-menu li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: ease-in 1s;
}

.nav-menu a {
  text-decoration: none;
  font-family: proxima, sans-serif;
  font-weight: 600;
  /*transform: translateY(-20px);*/
  color: #000000;
}

.nav-menu img {
  z-index: 1;
  width: 80px;
  height: 20px;
  /*visibility: hidden;*/
}

.nav-menu img {
  opacity: 0;
  transition: opacity .5s;
}

.nav-menu img.fade {
  opacity: 1;
}

.nav-menu a:hover {

}

.logo {
  width: 200px;
  height: 200px;

}

.top-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top-links a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-family: proxima, sans-serif;
  font-weight: 600;

}

.top-links button {

  transform: translateY(-10px);
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px;
  border-radius: 10px;
  border: none;
  background-color: #00C3AB;
  color: white;
  font-weight: 750;
  letter-spacing: 2px;
  transition: all .5s;
  font-family: proxima, sans-serif;
}

.top-links button:hover {
  background-color: black;
  color: #00C3AB;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  height: 1013px;
  padding: 300px 300px;
}

.text-section {
  display: flex;
  flex-direction: column;
  /*margin: 20%;*/
  height: 591px;
}

.text-section h1 {
  width: 450px;
  height: 162px;
  margin: 0 0 14px;
  font-size: 40px;
  font-weight: bold;
  font-family: proxima, sans-serif;
}

.text-section p {
  width: 450px;
  height: 108px;
  font-size: 20px;
  font-family: proxima, sans-serif;
  line-height: 40px;
  font-weight: 400;
}

.text-section button {
  text-transform: uppercase;
  margin: 25px 0 0;
  font-size: 17px;
  padding: 21px 36px;
  border-radius: 10px;
  border: none;
  background-color: #00C3AB;
  color: white;
  font-weight: 750;
  letter-spacing: 2px;
  transition: all .5s;
  font-family: proxima, sans-serif;
  width: 200px;
  height: 62px;
}

.text-section button:hover {
  background-color: black;
  color: #00C3AB;
}


.hero-img-1 {
  z-index: 0;
  position: absolute;
  width: 536px;
  height: 540px;
  top: 240px;
  right: 1100px;
}

.hero-img-2 {
  z-index: 0;
  position: absolute;
  top: 250px;
  right: 500px;
  width: 536px;
  height: 519px;
}

.brands-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 100px;
}

.brands {
  height: 80px;
}

.ornament {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 100px;
  top: 1100px;
}

.page2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px;
  height: 263px;
}


.page2 h2 {
  width: 840px;
  height: 162px;
  margin: 0 0 14px;
  font-size: 40px;
  font-family: proxima, sans-serif;
  text-align: center;
}

.page2 p {
  width: 840px;
  height: 108px;
  font-size: 20px;
  font-family: proxima, sans-serif;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.page2 button {
  text-transform: uppercase;
  margin: 25px 0 0;
  font-size: 17px;
  padding: 21px 36px;
  border-radius: 10px;
  border: none;
  background-color: #00C3AB;
  color: white;
  font-weight: 750;
  letter-spacing: 2px;
  transition: all .5s;
  font-family: proxima, sans-serif;
  width: 200px;
  height: 62px;
}
